.playerNameDiv h3 {
	display: inline;
}
.playerName {
	display: inline-block;
	height: 2em;
	width: 20em;
	padding: .25em;
	color: grey;
	margin: 1em;
}
#playerList {
	display: inline;
	float: left;
	margin: 0em 2em;
	width: 48%;
}
#ruleInput {
	width: 25em;
	height: 10em;
}
.red {
	background-color: red;
}
.red:hover {
	background-color: Crimson;
}
.black {
	background-color: black;
}
.black:hover {
	background-color: DimGray;
}
.black, .red, .higher, .lower, .tweener{
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
}
.higherLowerButtons, .tweener {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: .2em;
}
.higherLowerButtons:hover, .tweener:hover {
	background-color: DimGray;
}
#cardArea {
	display: inline;
	float: right;
	width: 40%;
}
button {
	height: 3em;
	width: 15em;
	border-radius: 1.5em;
	background-color: #0D9AAD;
	color: white;
	outline: 0;
	border: 0;
	margin: 1em;
}
button:hover {
	background-color: #157B89;
}