body {
	color: #3d5970;
	font-family: 'Oswald', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
h1, h3 {
	text-transform: uppercase;
}
h2 {
	color: #96c590;
}
h1 {
	font-size: 4em;
	text-align: center;
	color: #03a4ae;
	margin-bottom: .5em;
    margin-top: .25em;
}

h3 {
	text-align: left;
}
#description {
	text-align: center;
	max-width: 30em;
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
}
input {
	border: solid 2px #96c590;
	font-weight: 300;
}
input[type=text]:focus {
	border: solid 4px #96c590;
	outline: none;
}
.playerNameDiv h3 {
	display: inline;
}
.playerNameDiv {
	text-align: center;
}
#beginGame {
	text-align: center;
}
.playerName {
	display: inline-block;
	height: 2em;
	width: 20em;
	padding: .25em;
	color: grey;
	margin: 1em;
}
#playerList {
	display: inline;
	float: left;
	margin: 3em 2em 0em;
	width: 48%;
	height: 100vh;
	overflow: scroll;
}
#playerList p {
	text-align: left;
	font-weight: 300;
	font-size: .9em;
    margin: 0em;
}
#playerList p:first-of-type {
	display: inline;
	float: left;
	margin-left: .5em;

}
#playerList h3 {
	margin: 0em;
	display: inline-block;
    float: left;
}
#playerArea {
	text-align: center;
	width: 90%;
	margin: auto;
}
#ruleInput {
	width: 25em;
	height: 10em;
	text-align: center;
}
#ruleButtons {
	text-align: center;
}

.colorButtons {
	display: inline-block;
	margin: 15px;
}
.red, .hearts, .diamonds {
	background-color: red;
}
.red:hover, .hearts:hover, .diamonds:hover {
	background-color: Crimson;
}
.black, .clubs, .spades {
	background-color: black;
}
.black:hover, .clubs:hover, .spades:hover {
	background-color: DimGray;
}
.black, .red, .higher, .lower, .tweener, .suitsButtons {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.suitsButtons {
	color: white;
	text-align: center;
	display: inline-block;
	margin: 15px;
	font-size: 28px;
    line-height: 1.75;
}
.higherLowerButtons {
	color: white;
	text-align: center;
	padding-top: .2em;
	display: inline-block;
    margin: 15px;
    background-color: #96c590;
	color: white;
	font-weight: 400;
    font-size: 36px;
    line-height: .8;
}
.tweener {
	color: white;
	text-align: center;
	padding-top: .2em;
	display: inline-block;
    margin: 15px;
    background-color: #96c590;
	color: white;
	font-weight: 400;
    font-size: 30px;
    line-height: 1;
}
.outside {
	background-image: url(../images/buttons/outside.svg);
}
.inBetween {
	background-image: url(../images/buttons/inside.svg);
}
.onTheFence {
	background-image: url(../images/buttons/fence.svg);
}
.hearts {
	background-image: url(../images/buttons/hearts.svg);
}
.diamonds {
	background-image: url(../images/buttons/diamonds.svg);
}
.clubs {
	background-image: url(../images/buttons/clubs.svg);
}
.spades {
	background-image: url(../images/buttons/spades.svg);
}
.higherLowerButtons:hover, .tweener:hover {
	background-color: #3d5970;
}
#cardArea {
	display: inline;
	float: right;
	width: 40%;
}
button {
	height: 3em;
	width: 15em;
	border-radius: 1.5em;
	background-color: #96c590;
	color: white;
	outline: 0;
	border: 0;
	margin-top: 2em;
}
button:hover {
	background-color: #03a4ae;
	color: white;
}
.pointAdder {
	display: inline-block;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 1em;
    margin-right: .25em;
    background-color: #96c590;
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 42px;
	line-height: .4;
}
.pointAdder:hover {
	background-color: #3d5970;
}
