body {
	color: #3d5970;
	font-family: 'Oswald', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
h1, h3 {
	text-transform: uppercase;
}
h1 {
	font-size: 6em;
	text-align: center;
	color: #03a4ae;
	margin-bottom: 0;
    margin-top: .25em;
}
#description {
	text-align: center;
	max-width: 30em;
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
}
input {
	border: solid 2px #96c590;
	font-weight: 300;
}
.playerNameDiv h3 {
	display: inline;
}
.playerNameDiv {
	text-align: center;
}
#beginGame {
	text-align: center;
}
.playerName {
	display: inline-block;
	height: 2em;
	width: 20em;
	padding: .25em;
	color: grey;
	margin: 1em;
}
#playerList {
	display: inline;
	float: left;
	margin: 0em 2em;
	width: 48%;
}
#ruleInput {
	width: 25em;
	height: 10em;
}
.red, .hearts, .diamonds {
	background-color: red;
}
.red:hover, .hearts:hover, .diamonds:hover {
	background-color: Crimson;
}
.black, .clubs, .spades {
	background-color: black;
}
.black:hover, .clubs:hover, .spades:hover {
	background-color: DimGray;
}
.black, .red, .higher, .lower, .tweener, .suitsButtons, .pointAdder {
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
}
.suitsButtons {
	color: white;
	text-align: center;
}
.higherLowerButtons, .tweener {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: .2em;
}
.higherLowerButtons:hover, .tweener:hover {
	background-color: DimGray;
}
#cardArea {
	display: inline;
	float: right;
	width: 40%;
}
button {
	height: 3em;
	width: 15em;
	border-radius: 1.5em;
	background-color: #96c590;
	color: white;
	outline: 0;
	border: 0;
	margin-top: 1.5em;
}
button:hover {
	background-color: #03a4ae;
	color: white;
}
.pointAdderVisible {
	background-color: black;
	color: white;
	text-align: center;
}
.pointAdderVisible:hover {
	background-color: DimGray;
}